In [1]:
import pandas as pd
import math

In [28]:
nasdaq_df1=pd.read_csv('/Users/jaszeng/Desktop/Metis/nasdaq_1999.csv')
nasdaq_df2=pd.read_csv('/Users/jaszeng/Desktop/Metis/nasdaq_2199.csv')
nasdaq_df3=pd.read_csv('/Users/jaszeng/Desktop/Metis/nasdaq_2967.csv')
nasdaq_df4=pd.read_csv('/Users/jaszeng/Desktop/Metis/nasdaq_3199.csv')
nasdaq_df5=pd.read_csv('/Users/jaszeng/Desktop/Metis/nasdaq_4103.csv')
nasdaq_df6=pd.read_csv('/Users/jaszeng/Desktop/Metis/nasdaq_4759.csv')

In [29]:
nasdaq_df=nasdaq_df1
nasdaq_df=nasdaq_df.append(nasdaq_df2)
nasdaq_df=nasdaq_df.append(nasdaq_df3)
nasdaq_df=nasdaq_df.append(nasdaq_df4)
nasdaq_df=nasdaq_df.append(nasdaq_df5)
nasdaq_df=nasdaq_df.append(nasdaq_df6)
nasdaq_df=nasdaq_df.drop(['Unnamed: 0'],axis=1)
nasdaq_df.reset_index(drop=True,inplace=True)
nasdaq_df.head()
#nasdaq_df.reset_index(inplace=True)

,Symbol,Market_cap,Enterprise_value,Trailing_PE,Forward_PE,PEG_ratio,Price_to_sale,Price_to_book,Value_to_revenue,Value_to_EBITDA,...,Total_cash_per_share,Total_debt,Total_debt_to_equity,Current_ratio,Book_value_per_share,Operating_cash_flow,Levered_Free_cash_flow,current_price,last_quarter_price,last_year_price
0,AACG,73.42M,65.47M,NaN,NaN,NaN,2.36,2.20,1.18,-2.95,...,2.41,45.1M,23.23,0.28,6.10,NaN,NaN,[2.3399999141693115],[3.0799999237060547],[1.1100000143051147]
1,AADI,613.35M,613.35M,NaN,NaN,NaN,NaN,NaN,NaN,-7.06,...,7.72,613k,0.41,14.01,7.23,-13.27M,NaN,[29.3700008392334],[1.690000057220459],[1.5]
2,AAL,13.29B,43.63B,NaN,1.00k,NaN,0.65,NaN,4.86,63.98,...,22.45,46.66B,NaN,1.01,-11.49,-959M,-1.15B,[20.520000457763672],[21.209999084472656],[12.289999961853027]
3,AAME,84.70M,108.97M,5.46,NaN,NaN,0.44,0.59,2.21,NaN,...,0.7,38.3M,27.35,1.33,6.87,321k,31.54M,[4.150000095367432],[4.320000171661377],[1.9896104335784912]
4,AAOI,195.12M,305.85M,NaN,NaN,NaN,0.77,0.70,5.74,-37.67,...,1.6,154.02M,58.35,2.15,9.71,-25.49M,-15.28M,[7.179999828338623],[8.470000267028809],[11.25]

In [30]:
nasdaq_df.shape

(3352, 33)

In [31]:
#nasdaq_df.to_csv('/Users/jaszeng/Desktop/Metis/nasdaq_initialdata_total.csv',index=False)

In [2]:
nasdaq_df=pd.read_csv('/Users/jaszeng/Desktop/Metis/nasdaq_initialdata_total.csv',index_col=False)

In [3]:
nasdaq_df.head()

,Symbol,Market_cap,Enterprise_value,Trailing_PE,Forward_PE,PEG_ratio,Price_to_sale,Price_to_book,Value_to_revenue,Value_to_EBITDA,...,Total_cash_per_share,Total_debt,Total_debt_to_equity,Current_ratio,Book_value_per_share,Operating_cash_flow,Levered_Free_cash_flow,current_price,last_quarter_price,last_year_price
0,AACG,73.42M,65.47M,NaN,NaN,NaN,2.36,2.20,1.18,-2.95,...,2.41,45.1M,23.23,0.28,6.10,NaN,NaN,[2.3399999141693115],[3.0799999237060547],[1.1100000143051147]
1,AADI,613.35M,613.35M,NaN,NaN,NaN,NaN,NaN,NaN,-7.06,...,7.72,613k,0.41,14.01,7.23,-13.27M,NaN,[29.3700008392334],[1.690000057220459],[1.5]
2,AAL,13.29B,43.63B,NaN,1.00k,NaN,0.65,NaN,4.86,63.98,...,22.45,46.66B,NaN,1.01,-11.49,-959M,-1.15B,[20.520000457763672],[21.209999084472656],[12.289999961853027]
3,AAME,84.70M,108.97M,5.46,NaN,NaN,0.44,0.59,2.21,NaN,...,0.7,38.3M,27.35,1.33,6.87,321k,31.54M,[4.150000095367432],[4.320000171661377],[1.9896104335784912]
4,AAOI,195.12M,305.85M,NaN,NaN,NaN,0.77,0.70,5.74,-37.67,...,1.6,154.02M,58.35,2.15,9.71,-25.49M,-15.28M,[7.179999828338623],[8.470000267028809],[11.25]

In [4]:
nasdaq_df.isna().sum()

Symbol                          0
Market_cap                      0
Enterprise_value              378
Trailing_PE                  1916
Forward_PE                   2317
PEG_ratio                    3022
Price_to_sale                 716
Price_to_book                 583
Value_to_revenue             1073
Value_to_EBITDA               427
Profit_margin                   0
Operating_margin                0
Return_on_asset               548
Return_on_equity              676
Revenue                       642
Revenue_per_share             625
Quarterly_revenue_growth      772
Gross_profit                  639
EBITDA                        794
Netincome_avi_to_common       120
Dilutted_eps                  278
Quarterly_earnings_growth    2165
Total_cash                     13
Total_cash_per_share           13
Total_debt                    447
Total_debt_to_equity          964
Current_ratio                 489
Book_value_per_share            3
Operating_cash_flow           321
Levered_Free_cash_flow        984
current_price                   0
last_quarter_price              0
last_year_price                 0
dtype: int64

Drop column Trailing_PE, Forward_PE, PEG_ratio, Quarterly_earnings_growth due to large NaN entries.

In [5]:
nasdaq_df=nasdaq_df.drop(['Trailing_PE','Forward_PE','PEG_ratio','Quarterly_earnings_growth'],axis=1)

In [6]:
nasdaq_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3352 entries, 0 to 3351
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Symbol                    3352 non-null   object
 1   Market_cap                3352 non-null   object
 2   Enterprise_value          2974 non-null   object
 3   Price_to_sale             2636 non-null   object
 4   Price_to_book             2769 non-null   object
 5   Value_to_revenue          2279 non-null   object
 6   Value_to_EBITDA           2925 non-null   object
 7   Profit_margin             3352 non-null   object
 8   Operating_margin          3352 non-null   object
 9   Return_on_asset           2804 non-null   object
 10  Return_on_equity          2676 non-null   object
 11  Revenue                   2710 non-null   object
 12  Revenue_per_share         2727 non-null   object
 13  Quarterly_revenue_growth  2580 non-null   object
 14  Gross_profit              2713 non-null   object
 15  EBITDA                    2558 non-null   object
 16  Netincome_avi_to_common   3232 non-null   object
 17  Dilutted_eps              3074 non-null   float64
 18  Total_cash                3339 non-null   object
 19  Total_cash_per_share      3339 non-null   object
 20  Total_debt                2905 non-null   object
 21  Total_debt_to_equity      2388 non-null   object
 22  Current_ratio             2863 non-null   float64
 23  Book_value_per_share      3349 non-null   object
 24  Operating_cash_flow       3031 non-null   object
 25  Levered_Free_cash_flow    2368 non-null   object
 26  current_price             3352 non-null   object
 27  last_quarter_price        3352 non-null   object
 28  last_year_price           3352 non-null   object
dtypes: float64(2), object(27)
memory usage: 759.6+ KB

Write function to change from #M,#B,#T, #k into numbers

In [7]:
def turn_big_numbers(large_num):
    try:
        return float(large_num)
    except: 
        try:unit=large_num[-1]
        except: return ('no -1')
        multiplier=0
        if unit=='T':
            multiplier=1000000000000
        elif unit=='B':
            multiplier=1000000000
        elif unit=='M':
            multiplier=1000000
        elif unit=='k':
            multiplier=1000
        num=float(large_num[0:(len(large_num)-1)])
        return num*multiplier

In [8]:
nasdaq_df.head(20)

,Symbol,Market_cap,Enterprise_value,Price_to_sale,Price_to_book,Value_to_revenue,Value_to_EBITDA,Profit_margin,Operating_margin,Return_on_asset,...,Total_cash_per_share,Total_debt,Total_debt_to_equity,Current_ratio,Book_value_per_share,Operating_cash_flow,Levered_Free_cash_flow,current_price,last_quarter_price,last_year_price
0,AACG,73.42M,65.47M,2.36,2.20,1.18,-2.95,-29.35%,-48.37%,-10.07%,...,2.41,45.1M,23.23,0.28,6.10,NaN,NaN,[2.3399999141693115],[3.0799999237060547],[1.1100000143051147]
1,AADI,613.35M,613.35M,NaN,NaN,NaN,-7.06,0.00%,-89.09%,NaN,...,7.72,613k,0.41,14.01,7.23,-13.27M,NaN,[29.3700008392334],[1.690000057220459],[1.5]
2,AAL,13.29B,43.63B,0.65,NaN,4.86,63.98,-13.23%,-28.34%,-6.61%,...,22.45,46.66B,NaN,1.01,-11.49,-959M,-1.15B,[20.520000457763672],[21.209999084472656],[12.289999961853027]
3,AAME,84.70M,108.97M,0.44,0.59,2.21,NaN,6.42%,8.74%,2.90%,...,0.7,38.3M,27.35,1.33,6.87,321k,31.54M,[4.150000095367432],[4.320000171661377],[1.9896104335784912]
4,AAOI,195.12M,305.85M,0.77,0.70,5.74,-37.67,-25.33%,-26.88%,-7.33%,...,1.6,154.02M,58.35,2.15,9.71,-25.49M,-15.28M,[7.179999828338623],[8.470000267028809],[11.25]
5,AAON,3.42B,3.31B,6.84,8.93,23.91,119.48,13.88%,16.24%,10.93%,...,1.94,NaN,NaN,3.65,7.64,106.52M,30.43M,[65.1816635131836],[62.43833541870117],[59.761634826660156]
6,AAPL,2.32T,2.38T,6.94,36.16,28.60,88.61,25.88%,29.78%,20.18%,...,3.82,136.52B,216.39,1.08,3.84,104.04B,73.3B,[141.29379272460938],[136.55581665039062],[114.9021987915039]
7,AATC,39.59M,31.20M,2.94,1.92,9.53,33.26,22.15%,14.67%,5.64%,...,1.58,111k,0.54,18.15,3.84,2.53M,1.56M,[7.245084285736084],[6.567469596862793],[3.4539310932159424]
8,AAWW,2.37B,4.33B,0.65,0.95,4.26,15.79,13.17%,16.88%,6.64%,...,26.66,2.62B,99.88,0.80,90.41,835.77M,196.03M,[81.68000030517578],[68.11000061035156],[60.900001525878906]
9,ABCB,3.61B,NaN,3.20,1.27,NaN,NaN,37.21%,48.19%,1.84%,...,54.45,555.71M,NaN,NaN,41.81,161.48M,NaN,[51.880001068115234],[50.4848747253418],[22.493589401245117]
10,ABCL,5.63B,4.87B,12.40,5.82,885.07,-249.87,47.44%,64.34%,27.14%,...,2.68,31.76M,3.33,16.22,3.39,262.57M,167.61M,[20.040000915527344],[22.0],[]
11,ABEO,114.09M,44.73M,10.54,1.36,NaN,-8.48,0.00%,"-1,922.13%",-25.89%,...,0.66,6.17M,7.73,2.57,0.78,-37.02M,-27.07M,[1.1200000047683716],[1.559999942779541],[1.0199999809265137]
12,ABGI,188.30M,188.34M,NaN,NaN,NaN,-863.56,0.00%,0.00%,NaN,...,0.03,NaN,NaN,0.19,-0.23,NaN,NaN,[9.739999771118164],[9.800000190734863],[]
13,ABIO,42.65M,-20.11M,NaN,0.70,NaN,4.29,0.00%,0.00%,-20.93%,...,4.05,507k,0.90,18.75,3.93,-16.81M,-10.27M,[2.9600000381469727],[3.490000009536743],[4.420000076293945]
14,ABMD,14.81B,14.29B,15.88,11.33,57.58,211.97,15.32%,26.92%,11.46%,...,14.3,7.85M,0.57,7.64,30.43,281.54M,170.23M,[325.5199890136719],[312.1099853515625],[277.05999755859375]
15,ABNB,106.50B,101.52B,23.47,30.93,45.37,113.96,-80.74%,-50.79%,-15.14%,...,12.65,2.43B,54.64,1.86,7.11,1.67B,2.4B,[167.75],[153.13999938964844],[]
16,ABOS,601.36M,532.54M,542.37,NaN,NaN,-137.29,0.00%,"-3,802.43%",NaN,...,4.94,NaN,NaN,137.62,5.77,-17.18M,NaN,[14.859999656677246],[],[]
17,ABSI,1.08B,1.31B,193.39,NaN,850.54,-58.57,0.00%,-870.17%,NaN,...,3.02,21.71M,5.60,9.94,4.19,-46.04M,NaN,[11.630000114440918],[],[]
18,ABST,543.70M,415.04M,4.54,20.71,9.49,262.19,-4.73%,-2.36%,-0.60%,...,1.12,280.48M,"1,598.81",0.74,0.35,31.49M,47.36M,[10.918229103088379],[14.319626808166504],[11.87436580657959]
19,ABTX,771.19M,NaN,3.44,0.98,NaN,NaN,33.18%,44.64%,1.19%,...,44.64,259.76M,NaN,NaN,39.50,105.09M,NaN,[38.04306411743164],[38.21068572998047],[23.01895523071289]

In [9]:
for i in nasdaq_df.columns:
    try: nasdaq_df[i]=nasdaq_df[i].str.replace(',','')
    except: continue

In [10]:
nasdaq_df.iloc[:,20:]

,Total_debt,Total_debt_to_equity,Current_ratio,Book_value_per_share,Operating_cash_flow,Levered_Free_cash_flow,current_price,last_quarter_price,last_year_price
0,45.1M,23.23,0.28,6.10,NaN,NaN,[2.3399999141693115],[3.0799999237060547],[1.1100000143051147]
1,613k,0.41,14.01,7.23,-13.27M,NaN,[29.3700008392334],[1.690000057220459],[1.5]
2,46.66B,NaN,1.01,-11.49,-959M,-1.15B,[20.520000457763672],[21.209999084472656],[12.289999961853027]
3,38.3M,27.35,1.33,6.87,321k,31.54M,[4.150000095367432],[4.320000171661377],[1.9896104335784912]
4,154.02M,58.35,2.15,9.71,-25.49M,-15.28M,[7.179999828338623],[8.470000267028809],[11.25]
...,...,...,...,...,...,...,...,...,...
3347,42.66M,99.53,0.94,1.28,-6.37M,1.04M,[2.390000104904175],[2.5899999141693115],[4.0]
3348,NaN,NaN,0.41,-0.55,NaN,NaN,[9.739999771118164],[9.699999809265137],[]
3349,80.22M,16.82,4.28,4.66,-299.65M,NaN,[13.170000076293945],[40.0099983215332],[]
3350,618.87k,0.79,8.08,1.96,-32.61M,-19.35M,[4.239999771118164],[5.289999961853027],[3.309999942779541]
3351,19.58M,30.89,6.79,1.8,-2.29M,-4.36M,[11.390000343322754],[15.529999732971191],[17.450000762939453]

In [11]:
change_list=['Market_cap','Enterprise_value','Price_to_sale','Price_to_book','Value_to_revenue',
             'Value_to_EBITDA','Revenue','Gross_profit','EBITDA','Netincome_avi_to_common',
             'Total_cash','Total_debt','Current_ratio',
             'Operating_cash_flow','Levered_Free_cash_flow','Revenue_per_share','Total_cash_per_share',
            'Total_debt_to_equity','Book_value_per_share']

In [12]:
for col in change_list:
    nasdaq_df[col]=nasdaq_df[col].apply(turn_big_numbers)

Now changing string with % into float

In [13]:
def turn_perc_str(perc_str):
    try: 
        return (float(perc_str.strip('%')) / 100.0)
    except:
        return perc_str

In [14]:
change_list=['Profit_margin','Operating_margin','Return_on_asset','Return_on_equity','Quarterly_revenue_growth']
for col in change_list:
    nasdaq_df[col]=nasdaq_df[col].apply(turn_perc_str)

Now changing '[price]' into float

In [15]:
def del_brckt(price):
    try: 
        return float(price[1:(len(price)-1)])
    except:
        return float('NaN')

In [16]:
change_list=['current_price','last_quarter_price','last_year_price']
for col in change_list:
    nasdaq_df[col]=nasdaq_df[col].apply(del_brckt)

In [17]:
nasdaq_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3352 entries, 0 to 3351
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Symbol                    3352 non-null   object
 1   Market_cap                3352 non-null   float64
 2   Enterprise_value          2974 non-null   float64
 3   Price_to_sale             2636 non-null   float64
 4   Price_to_book             2769 non-null   float64
 5   Value_to_revenue          2279 non-null   float64
 6   Value_to_EBITDA           2925 non-null   float64
 7   Profit_margin             3352 non-null   float64
 8   Operating_margin          3352 non-null   float64
 9   Return_on_asset           2804 non-null   float64
 10  Return_on_equity          2676 non-null   float64
 11  Revenue                   2710 non-null   float64
 12  Revenue_per_share         2727 non-null   float64
 13  Quarterly_revenue_growth  2580 non-null   float64
 14  Gross_profit              2713 non-null   float64
 15  EBITDA                    2558 non-null   float64
 16  Netincome_avi_to_common   3232 non-null   float64
 17  Dilutted_eps              3074 non-null   float64
 18  Total_cash                3339 non-null   float64
 19  Total_cash_per_share      3339 non-null   float64
 20  Total_debt                2905 non-null   float64
 21  Total_debt_to_equity      2388 non-null   float64
 22  Current_ratio             2863 non-null   float64
 23  Book_value_per_share      3349 non-null   float64
 24  Operating_cash_flow       3031 non-null   float64
 25  Levered_Free_cash_flow    2368 non-null   float64
 26  current_price             3338 non-null   float64
 27  last_quarter_price        3203 non-null   float64
 28  last_year_price           2659 non-null   float64
dtypes: float64(28), object(1)
memory usage: 759.6+ KB

Save the df again

In [18]:
#nasdaq_df.to_csv('/Users/jaszeng/Desktop/Metis/nasdaq_float_total.csv',index=False)

In [21]:
nasdaq_final=nasdaq_df.dropna()

In [22]:
nasdaq_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1579 entries, 4 to 3351
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Symbol                    1579 non-null   object
 1   Market_cap                1579 non-null   float64
 2   Enterprise_value          1579 non-null   float64
 3   Price_to_sale             1579 non-null   float64
 4   Price_to_book             1579 non-null   float64
 5   Value_to_revenue          1579 non-null   float64
 6   Value_to_EBITDA           1579 non-null   float64
 7   Profit_margin             1579 non-null   float64
 8   Operating_margin          1579 non-null   float64
 9   Return_on_asset           1579 non-null   float64
 10  Return_on_equity          1579 non-null   float64
 11  Revenue                   1579 non-null   float64
 12  Revenue_per_share         1579 non-null   float64
 13  Quarterly_revenue_growth  1579 non-null   float64
 14  Gross_profit              1579 non-null   float64
 15  EBITDA                    1579 non-null   float64
 16  Netincome_avi_to_common   1579 non-null   float64
 17  Dilutted_eps              1579 non-null   float64
 18  Total_cash                1579 non-null   float64
 19  Total_cash_per_share      1579 non-null   float64
 20  Total_debt                1579 non-null   float64
 21  Total_debt_to_equity      1579 non-null   float64
 22  Current_ratio             1579 non-null   float64
 23  Book_value_per_share      1579 non-null   float64
 24  Operating_cash_flow       1579 non-null   float64
 25  Levered_Free_cash_flow    1579 non-null   float64
 26  current_price             1579 non-null   float64
 27  last_quarter_price        1579 non-null   float64
 28  last_year_price           1579 non-null   float64
dtypes: float64(28), object(1)
memory usage: 370.1+ KB

In [23]:
nasdaq_final.to_csv('/Users/jaszeng/Desktop/Metis/nasdaq_final.csv',index=False)